@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");
*, *:before, *:after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  color: #353535;
}

body {
  display: flex;
  align-items: flex-start;
  font-family: 'Roboto';
  justify-content: center;
  background: #f7f7f7;
}

.board {
  width: 100vw;
}

.board h1 {
  width: 100%;
  line-height: 60px;
  text-align: center;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.board h1 > button {
  background: none;
  border: 2px solid;
  font-size: 0.5em;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
}

.column-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column-container .column {
  min-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  border-radius: 10px;
  margin: 0 10px 30px 10px;
  box-shadow: -3px 4px 2px -2px rgba(0, 0, 0, 0.29);
  background-color: #6eefc8;
  background: #6eefc8;
  background: linear-gradient(to bottom, rgba(110, 239, 200, 0.31) 0%, rgba(110, 239, 200, 0.31) 5%, rgba(110, 239, 200, 0.21) 71%, rgba(208, 237, 112, 0) 100%);
}

.column-container .column .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  background-color: #19dea3;
  border-color: #19dea3;
}

.column-container .column .close:hover {
  border-color: #6eefe8;
  background-color: #6eefe8;
}

.column-container .column .add-card {
  color: #fff;
  background-color: #09553e;
  border-color: #09553e;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.column-container .column .add-card:active, .column-container .column .add-card:focus {
  border-color: none;
}

.column-container .column-title {
  text-align: center;
}

.column-container .column-card-list {
  min-height: 200px;
  list-style-type: none;
  background-color: rgba(110, 239, 200, 0.4);
  border-radius: 10px;
  width: 100%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.column-container .column-card-list > li {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 90%;
  margin: 5px 0;
}

.column-container .column-card-list > li > button {
  transform: scale(0.7);
  float: right;
  color: #000;
  background-color: #19dea3;
  border-color: #19dea3;
}

.column-container .column-card-list > li > button:hover {
  border-color: #6eefe8;
  background-color: #6eefe8;
}

.column-container .column-card-list > li > p {
  padding: 10px;
  width: 70%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
  --color: #6eefc8;
  --hover: #6eefde;
}

.close {
  --color: #fc474a;
  --hover: #fc6247;
}

button {
  color: var(--color);
  transition: 0.25s;
  border-radius: 5px;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}
